/* ad header */

.ad {
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 75px;
  background: url("../imgs/header/banner/flower.jpg");
  background-position: bottom 60% left 0;
  background-size: 108%;
  overflow: hidden;
  align-items: center;
  border-bottom: 1px solid #3333331b;
  box-shadow: 0px 15px 8px -15px #0004;
}

.ad > .ad-header {
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ad > .ad-header .ad-header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.ad > .ad-header .ad-header-info span {
  font-weight: bolder;
  color: white;
  background-color: #0d4d4ddd;
  height: 30px;
  width: 60px;
  padding: 3px 6px;
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
}
.ad > .ad-header h4 {
  color: #d2386c;
  font-size: 1.3rem;
  font-weight: bolder;
}
.ad > .ad-header h5 {
  color: #ff9a00;
  font-size: smaller;
}

.ad > .ad-header a {
  color: white;
  background: linear-gradient(to bottom, #a32788, #da236f);
  /* background-color: #d2386c; */
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.6rem;
}

/* ad footer */

.ad-footer {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.ad-footer > .ad-footer-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.ad-footer-container .ad-footer-item {
  height: 50px;
  width: 25%;
  border-radius: 10px;
  background: linear-gradient(to bottom, #9D147A, #E85B44);
}
