.banner {
  display: flex;
  height: calc(100vh / 3);
  width: 100vw;
  background: url("../imgs/header/banner/pink-yellow.png");
  opacity: 0.9;
  background-size: cover;
  align-items: center;
  border-bottom: 1px solid #3333331b;
}

.banner .banner-item-container {
  min-width: 100%;
  height: calc(80vh / 3);
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
}

.banner-item-container .banner-item {
  height: calc(100vh / 4);
  width: calc(200vw / 4);
  background-color: #888b;
  margin-left: 10px;
  margin-top: 2vh;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
}

.banner-item .container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: calc(100vh / 4);
  width: calc(200vw / 4);
  display: flex;
  flex-direction: column;
  padding: 1px;
  border: 1px solid#0002;
  border-radius: 15px;
}
.banner-item .category-image-container {
  min-width: 90%;
  min-height: 70%;
  overflow: hidden;
  border: 1px solid#0002;
  border-radius: 15px;
}

.banner-item .category-image-container img {
  max-height: 178%;
}

.banner-item .category-name-container {
  width: calc(200vw / 4);
  display: flex;
  align-items: center;
  justify-content: center;
}
