@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #FD9993 white;
}
html {
  font-family: "Roboto Flex", sans-serif;
  /* setting the background color as black so I can focus on each element I'm working on */
  /* background-color: black; */
}
.root {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none!important;
}
.flipped{
  display: none!important;
}
