/* navbar global screen css */
.main-navigation {
  z-index: 6;
  position: relative;
  background-color: white;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #3333331b;

  box-shadow: 0px 15px 8px -15px #0003;
  transition: top 5s linear;
}

.main-navigation .main-menu {
  background-color: #fff;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
}

.main-navigation .main-menu a {
  color: black;
  padding: 8px;
  font-size: 1rem;
  text-decoration: none;
}

/* hamburger menu code */
.main-navigation a.icon {
  background: transparent;
  color: black;
}

.main-navigation #search-spring-logo {
  /* filter: invert(67%) sepia(71%) saturate(7495%) hue-rotate(360deg)
    brightness(94%) contrast(95%); */
  width: 150px;
}
.main-navigation .search-and-cart {
  display: flex;
  gap: 12px;
  align-items: center;
}
.main-navigation .search-and-cart .navigation-icon {
  width: 20px;
  height: 20px;
}
.main-navigation .search-and-cart .navigation-icon:hover {
  cursor: pointer;
}
.main-navigation .search-and-cart .search-and-cart-button {
  background-color: transparent;
  position: relative;
  border: none;
}
.search-and-cart-button:hover {
  cursor: pointer;
}
.search-and-cart #cart-amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background-color: black;
}
.search-and-cart #cart-amount-container #cart-amount {
  color: white;
  font-size: 0.5rem;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
}
