.pagination-container {
  display: none;
}

.showPagination {
  z-index: 4;
  display: flex !important;
  justify-content: center;
  width: 100vw;
  height: 70px;
  position: fixed !important;
  bottom: 10vh;
  left: 0;
}

.pagination-box {
  display: flex;
  justify-content: space-between;
  background-color: #e09bbfee;
  width: 200px;
  border-radius: 10px;
  height: 100%;
  backdrop-filter: blur(4px);
}

.pagination-box p {
  color: white;
}

/* centering text for the page */
.pagination-container #pagination-current {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}

/* using this to style arrows on the site */
.directional-query {
  filter: invert(100%);
}

/* making sure the positioning of the pagination arrows is different for all devices */
@media only screen and (max-width: 480px) {
  .showPagination {
    bottom: 20vh !important;
  }
}
